/* General display */

h1 {
	text-align: center;
	margin-bottom: 1.5em;
}

/* Memory display */

.memories {
	float: left;
	width:50%;
}

.memory {
	
}

.delete-icon {
	content: url('../img/delete-icon.png');
	width: 30px;
	height: auto;
}

/* Form and inputs */

.inputs {
	float: right;
	width:50%;
}

.typing-area {
	min-width: 400px;
	min-height: 100px;
}