/* Memory display */

.memories {
	position: absolute;
	left: 0;
	z-index: 100;
}

.memory {
	
}

/* Memory edition/creation */

.memory-edit {
	position: relative;
	left: 50%;
	width:50%;
	z-index: 1000;
}

.typing-area {
	min-width: 400px;
	min-height: 100px;
}

.delete-icon {
	content: url('../img/delete-icon.png');
	width: 30px;
	height: auto;
}
