/* General display */

h1 {
	text-align: center;
	margin-bottom: 1.5em;
}

canvas {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 0;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}
