#pageFooter {
	position: fixed;
    bottom: 0;
	right: 0;
}

.pageTabs a {
	padding: 10px;
}

.leftPanel {
	float: left;
	width: 50%;
}

.rightPanel {
	float: right;
	width: 50%;
}

#manageReference {
	width: 50%;
	margin-left: 25%;
	margin-top: 5%;
}

#pageHeader {
	left: 40%;
    position: fixed;
    text-align: center;
    top: 0;
}

#pageBody {
	margin: 5%;
}

.iconBtn {
	width: 1em;
	display: inline-block;
}

.note {
	mix-blend-mode: multiply;
	border: 2px solid black;
	background-color: lightgray;
	margin: 5px;
}

.circle {
	mix-blend-mode: multiply;
	position: absolute;
	border-radius: 50%;
	display: inline-block;
	margin-right: 20px;
}