#pageFooter {
	position: fixed;
    bottom: 0;
	right: 0;
}

.pageTabs a {
	padding: 10px;
}

.leftPanel {
	float: left;
	width: 50%;
}

.rightPanel {
	float: right;
	width: 50%;
}

#manageReference {
	width: 50%;
	margin-left: 25%;
	margin-top: 5%;
}

#pageHeader {
	left: 40%;
    position: fixed;
    text-align: center;
    top: 0;
}

#pageBody {
	margin: 5%;
}

.pAbsolute {
	position: absolute;
}

.pFixed {
	position: fixed;
}

.pOriginToCenter {
	transform: translate(-50%, -50%);
}

.iconBtn {
	width: 1em;
	display: inline-block;
}

.square {
	mix-blend-mode: multiply;
	border: 2px solid black;
	background-color: lightgray;
	margin: 5px;
}

.circle {
	mix-blend-mode: multiply;
	position: fixed;
	border-radius: 50%;
	display: inline-block;
	margin-right: 20px;
}

div.circle  div.text {
	font-size: 50px;
}

.node {
	border-radius: 50%;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: black;
}

div.node div.text, div.square div.text {
	font-size: 30px;
}

#leftMenu {
	float: left;
	width: 30%;	
}

.menuItem {
	padding: 5px;
}

.math-targets {
	float: right;
	display: inline-block;
	width: 300px;
}

.link {
	color: lightblue;
	font-size: 18px;
}

.link:hover {
	color: blue;
	cursor: pointer;
}