<div>
    <h1>New Bubbles : </h1>
    <div id="contents" ng-show="contents.length > 0">
    	<p ng-repeat="typed in contents track by $index">{{typed.content}}</p>
    </div>
    <form>
    	<label for="reference">References :</label>
    	<ui-select multiple ng-model="selection.selectedRefs" theme="bootstrap" style="width: 100%;">
			<ui-select-match placeholder="Select references...">{{$item.keyword}}</ui-select-match>
			<ui-select-choices repeat="ref in refs">
				<div ng-bind-html="ref.keyword | highlight: $select.search"></div>
			</ui-select-choices>
		</ui-select>
        <label for="bubble.content">Text content :</label>
        <textarea id="bubble.content"
        	ng-model="newBubble.content"
        	focus-if="updateFocus"
        	style="width:100%">
        </textarea>
        <button ng-click="addBubble()" style="float: right">Add</button>
        <br>
        <button ng-click="submit()">Save Note</button>
    </form>
</div>