<div id="mathDemo">
	<div class="pOriginToCenter circle" style="left: {{mathDemo.center.x}}px;top: {{mathDemo.center.y}}px;width: {{mathDemo.ray * 2}}px;height: {{mathDemo.ray * 2}}px;background: #99ff99 none repeat scroll 0 0;" />
	<div class="pOriginToCenter node {{mathDemo.fixed ? 'pFixed' : 'pAbsolute'}}" style="left: {{mathDemo.center.x}}px;top: {{mathDemo.center.y}}px;">
		<div ng-show="!mathDemo.fixed"
			ng-repeat="note in mathDemo.notes" class="node pAbsolute" style="left: {{note.x}}px;top: {{note.y}}px;" />
	</div>
	<div ng-show="mathDemo.fixed"
			ng-repeat="note in mathDemo.fixedNotes" class="pOriginToCenter node pFixed" style="left: {{note.x}}px;top: {{note.y}}px;background-color: darkblue;" />
	<div id="leftMenu">
		<div class="menuItem">Notes : <input ng-model="mathDemo.noteCount" size="2"/></div>
		<div class="menuItem">Fixed positions : <input ng-model="mathDemo.fixed" type="checkbox" /></div>
		<div class="menuItem">Fixed angle : <input ng-model="mathDemo.fixedAngle" type="checkbox" /></div>
		<div class="menuItem">Angle : <img src="http://3.14inthesky.com/images/pi.png" width="12" height="12" /> / <input ng-model="mathDemo.alpha" ng-show="mathDemo.fixedAngle" /></div>
		<div class="menuItem">Ray : <input ng-model="mathDemo.ray" /></div>
		<div class="menuItem">Clean notes : <input ng-model="cleanNotes" type="checkbox" /></div>
		<div class="menuItem"><button ng-click="processDemo(false);">Process</button></div>
	</div>
</div>