<div *ngIf="bubble">
	<three-object [bound]="true" [name]="'Mesh'">
		<tg-property [key]="'POSITION'" [value]="bubble.position"></tg-property>
		<three-instance [name]="'SphereGeometry'" [args]="[bubble.size * 5, 32, 32]"></three-instance>
		<three-instance [name]="'MeshPhongMaterial'" [args]="{color: bubble.color}"></three-instance>
	</three-object>
	<three-object [bound]="true" *ngIf="bubble.parent" [name]="'Line'">
		<three-instance [name]="'Geometry'" (instantiated)="buildLine($event)"></three-instance>
		<three-instance [name]="'LineBasicMaterial'" [args]="{color: bubble.parent.color}"></three-instance>
	</three-object>
	<div class="bubble" [ngStyle]="{left: viewPosition.x, top: viewPosition.y}">
		<div class="bubble-display">
			{{bubble.content}}
		</div>
	</div>
</div>