<html>
	<head>
		<title>Reckless Access Life Map (DEMO)</title>
		<script src="node_modules/zone.js/dist/zone.js"></script>
		<script src="node_modules/typescript/lib/typescript.js"></script>
		<script src="node_modules/reflect-metadata/Reflect.js"></script>
		<script src="node_modules/systemjs/dist/system.src.js"></script>
		<script src="node_modules/mousetrap/mousetrap.min.js"></script>
		<script src="node_modules/mousetrap/plugins/global-bind/mousetrap-global-bind.min.js"></script>
		<script src="systemjs.config.js"></script>
		<script>
			System.import('ralm').catch(function (err) {console.error(err);});
		</script>
	</head>
	<body>
		<ralm-app>Loading application...</ralm-app>
	</body>
</html>