<div class="memories" *ngIf="memories && memories.length > 0">
	<div class="memory" *ngFor="let memory of memories" title="{{memory.id}}">
		{{memory.content}}
		<img class="delete-icon" (click)="rammService.deleteMemory(memory)">
	</div>
</div>
<tg-keys keys="alt+enter" (keyUp)="showInputs = !showInputs" [global]="true"></tg-keys>
<div class="memory-edit" *ngIf="showInputs">
	<form (submit)="addMemory()">
		<textarea class="typing-area" placeholder="Content..."
			name="content" [(ngModel)]="editing.content" required></textarea>
		<tg-keys keys="ctrl+enter" (keyUp)="addBtn.click()" [global]="true"></tg-keys>
		<button type="submit" #addBtn>Add memory</button>
	</form>
</div>