<h1>Welcome to RAMM demo !</h1>
<trilliangular [width]="displaySize.x" [height]="displaySize.y" debug="true" (started)="start($event)">
	<canvas #canvas></canvas>
	<tg-scene>
		<tag-layout [tags]="memoryMap.tags" (tagSelected)="updateMemoryTags($event)"></tag-layout>
	</tg-scene>
	<tg-renderer [renderTarget]="canvas" [transparent]="true" #renderer>
		<camera-controls *ngIf="cameraControls" [velocity]="500" [camera]="renderer.cameraInstance"></camera-controls>
	</tg-renderer>
</trilliangular>
<div class="memories" *ngIf="memoryMap.memories.length > 0">
	<div class="memory" *ngFor="let memory of memoryMap.memories" title="{{memory._id}}">
		CONTENT : {{memory.content}}
		<img class="delete-icon" (click)="rammService.deleteMemory(memory)">
	</div>
</div>
<tg-keylistener keys="alt+enter" (keyUp)="showInputs = !showInputs" [global]="true"></tg-keylistener>
<div class="memory-edit" *ngIf="showInputs">
	<form (submit)="addMemory()">
		<textarea class="typing-area" placeholder="Content..."
			name="content" [(ngModel)]="memory.content" required></textarea>
		<tg-keylistener keys="ctrl+enter" (keyUp)="addBtn.click()" [global]="true"></tg-keylistener>
		<button type="submit" #addBtn>Add memory</button>
	</form>
</div>