<tg-actor id="tagPlane" (started)="startTagPlane($event)">
	<tg-object [bound]="true" name="Mesh" #plane>
		<tg-instance name="PlaneBufferGeometry" [args]="[1000, 1000]"></tg-instance>
		<tg-instance name="MeshBasicMaterial" [args]="{color: 1710618, wireframe: true}"></tg-instance>
	</tg-object>
	<tg-instance [bound]="true" name="AmbientLight" [args]="[4210752]"></tg-instance>
</tg-actor>
<tg-actor id="tags">
	<tag *ngFor="let tag of tags; let tagIndex = index" [tag]="tag" [selected]="selectedTags.indexOf(tag) >= 0"
		[position]="{x: tagIndex === 0 ? tagIndex : tagIndex + 1 * tagIndex, y: tagIndex === 0 ? tagIndex : tagIndex + 1 * tagIndex}" ></tag>
</tg-actor>
<div class="tag-hover" *ngIf="hovering" #hoverTagDiv
	[ngStyle]="{left: mouseService.mousePosition.x - hoverTagDiv.clientWidth / 2, top: mouseService.mousePosition.y - hoverTagDiv.clientHeight * 2}">
	<h2>{{hovering.name}}</h2>
</div>
<div class="tag-edit" *ngIf="editing">
	<tg-keylistener keys="escape" (keyUp)="editing = null" [global]="true"></tg-keylistener>
	<form (submit)="saveTag()">
		<input type="text" name="name" [(ngModel)]="editing.name" required>
		<button type="submit">Save</button>
		<button type="button" (click)="deleteTag()">Delete</button>
	</form>
</div>

