import { IEntity } from "../entity/entity.type";

export interface <%= clazz %> extends IEntity {
<% for (let field of fields) { %>
	<%= field.name %>: <%= field.type %>;
<%  } %>
}

export interface <%= clazz %>State {
	<%= namePlural %>: Record<string, <%= clazz %>>;
}

export const select<%= clazzPlural %> = (state: <%= clazz %>State) => state.<%= namePlural %>;
