import { IEntity } from "../entity/entity.type";

export interface <%= clazz %> extends IEntity {
<% for (let field of fieldList) { %>
	<%= field.name %>: <%= field.type %>;
<%  } %>
}

export interface <%= clazz %>State {
	accounts: Record<string, <%= clazz %>>;
}

export const select<%= clazz %>s = (state: <%= clazz %>State) => state.<%= clazz %>s;
