@use '@angular/material' as mat;

mat-toolbar {
	@include mat.elevation(8);
}

mat-drawer {
	@include mat.elevation-transition();
	@include mat.elevation(6);

	&:hover {
	  @include mat.elevation(12);
	}
}
