import { EnvironmentProviders, Provider } from "@angular/core";
import { provideEffects } from "@ngrx/effects";
import { provideState } from "@ngrx/store";
import { <%= clazz%>Effects } from "./<%= name %>.effects";
import { <%= name %>Reducer } from "./<%= name %>.reducer";

export function provideEntity<%= clazz%>(): Array<Provider | EnvironmentProviders> {
	return [
		provideState('<%= namePlural %>', <%= name %>Reducer),
		provideEffects([<%= clazz%>Effects])
	];
}
